@tailwind base;
@tailwind components;
@tailwind utilities;



.lg-container {
    max-width: 1280px;
    margin: 0 auto;
}

.drawer-side a.active {
    color: white;
    background-color: #3b5fe2;
}

.drawer-side a {
    margin-bottom: 5px;
    border-radius: 5px;
    font-weight: 500;
}

.menu a.active{
    color: white;
    background-color: #3b5fe2;
}
.menu a {
    margin-right:5px;
}

.change-shape{
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%, 25% 0);
}

.sm-btn{
    padding: 4px 4px !important;
}

@keyframes navAnimation {
    0%{
        opacity: 0;
        transform: translateY(-100%);     
    }
    100%{
        opacity: 1;
        transform: translateY(0);       
    }
}

@keyframes navAnimation2 {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;      
    }
}

.fade-in{
    animation: navAnimation .5s ease-in-out;    
    top: 0;    
}

.fade-out{
    /* animation: navAnimation2 .5s ease-in-out; */
    top: -100%;
    transition: all 1s ease-in-out;
}


@media screen and (max-width:1040px) {
    .menu a{
        margin-right: 0;
    }
}

@media screen and (max-width:575px) {
    .change-shape{
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%, 0 0);
    }
}