@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: auto;
}

::-webkit-scrollbar {
    width: 6px;

}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #3b5fe2;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.lg-container {
    max-width: 85rem;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
}

.drawer-side a.active {
    color: white;
    background-color: #3b5fe2;
}

.drawer-side a {
    margin-bottom: 5px;
    border-radius: 5px;
    font-weight: 500;
}

.menu a.active {
    color: white;
    background-color: #3b5fe2;
}

.menu a {
    margin-right: 5px;
}

.profile a.active{
    color: white;
    background: #111827;
}

.change-shape {
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%, 25% 0);
}

.sm-btn {
    padding: 4px 4px !important;
}

.swal2-close:focus,
.swal2-confirm:focus {
    box-shadow: none !important;
}

/* hide slick multicard slider arrow */
.slick-slider .slick-arrow {
    display: none !important;
}

/* change slick slider dot postion */
.slick-dots {
    bottom: -50px !important;
}

.slick-dots li.slick-active button:before {
    color: #3b5fe2 !important;
}

/* thin scrollbar for specific div/section */
.thin-scrollbar {
    scrollbar-width: 1px;
}

.thin-scrollbar::-webkit-scrollbar {
    width: 1px;
}

/* medium scrollbar */
.md-scrollbar {
    scrollbar-width: 4px;
}

.md-scrollbar::-webkit-scrollbar {
    width: 4px;
}


/* react select input style */
.css-19bb58m {
    padding: 6px 2px !important;
    margin-left: 0px !important;
}

.css-13cymwt-control {
    border-radius: 8px !important;
}

.select__control--is-focused {
    border: none !important;
}


/* hamburger style */
.hamburger-react div {
    height: 3.5px !important;
}


@keyframes navAnimation {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes navAnimation2 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes bg-overlay-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.overlay-fade-in{
    animation: bg-overlay-animation .25s ease-in;
}

@media screen and (min-width:1280px) {
    .fade-in {
        animation: navAnimation .5s ease-in-out;
        top: 0;
    }

    .fade-out {
        /* animation: navAnimation2 .5s ease-in-out; */
        top: -100%;
        transition: all 1s ease-in-out;
    }
}


@media screen and (max-width:1040px) {
    .menu a {
        margin-right: 0;
    }
}

@media screen and (max-width:575px) {
    .change-shape {
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%, 0 0);
    }

    .hamburger-react div {
        height: 3px !important;
    }
}


/* animated bg */
.animate {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;    
    background-color: #2563eb;
    /* background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%); */
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    animation: morphing 10s infinite;
    overflow: hidden;
  }

  @keyframes morphing {
    0% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    }
    25% {
      border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    }
    50% {
      border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
      box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
    }
    75% {
      border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
    }
    100% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    }
  }


  .shake{
    animation: horizontal-shaking 0.3s linear;
  }
/* shaking animation */
  @keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
   }